
*
{
margin: 0;
padding: 0;
font-family: arial;
overflow: hidden;
}
a {
    color: inherit;
    text-decoration:none;
}

#two
{
width: 100%;
height: 100vh;
background-image: url(/gambar/bg2.png);
background-size: cover;
background-repeat: no-repeat;
text-align: center
}
.navbar
{

width: 1200px;
height: 80px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 25px;
}
.navbar h2
{
color: #fff;
cursor: pointer;
}
.navbar ul
{
display: flex;
justify-content: center;
align-items: center;
}
.navbar ul li
{
list-style: none;
margin-right: 50px;
color: #fff;
font-weight: bold;
cursor: pointer;
transition: 0.5s;
}

.navbar ul li:hover
{
color: #c32865;
}
img
	{
		width: 200px;
		
		border-radius: 50%;
	
		margin-top: 100px;
	}
	h1
	{
		font-size: 70px;
		padding-top: 20px;
		color: #fff;
	}
	p 
	{
		line-height: 30px;
		font-size: 20px;
		font-family: sans-serif;
		color: #fff;
		padding-top: 20px;
	}

	.btn
	{
		width: 250px;
		height: 55px;
		background-color: #f44336;
		border: none;
		font-size: 18px;
		color: #fff;
		border-radius: 50px;
		cursor: pointer;
		font-weight: bold;
	}
	.btn2
	{
		width: 250px;
		height: 55px;
		background-color: transparent;
		border: 2px solid #f44336;
		font-size: 18px;
		color: #f44336;
		border-radius: 50px;
		cursor: pointer;
		font-weight: bold;
	}
	.btn2:hover
	{
		background-color: #f44336;
		color: #fff;
	}
    
.social ul li
{
display:inline;
list-style: none;
margin-right: 50px;
color: #fff;
font-weight: bold;
font-size: 25px;
}

ul li:hover
{
color: #c32865;
}
