
*
{
margin: 0;
padding: 0;
font-family: arial;
overflow: hidden;
}
a {
    color: inherit;
    text-decoration:none;
}
.container-fluid
{
width: 100%;
height: 100vh;
background-image: url(/gambar/bg.png);
background-size: cover;
background-repeat: no-repeat;
}

#two
{
width: 100%;
height: 100vh;
background-image: url(/gambar/bg2.png);
background-size: cover;
background-repeat: no-repeat;
}
.navbar
{
width: 1200px;
height: 80px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 25px;
}
.navbar h2
{
color: #fff;
cursor: pointer;
}
.navbar ul
{
display: flex;
justify-content: center;
align-items: center;
}
.navbar ul li
{
list-style: none;
margin-right: 50px;
color: #fff;
font-weight: bold;
cursor: pointer;
transition: 0.5s;
}

.navbar ul li:hover
{
color: #c32865;
}
.btn
{
width: 170px;
height: 45px;
color: white; 
background-color: #c32865;
font-weight: bold;
font-size: 14px;
cursor: pointer;
border-radius: 10px;
border: none;

}
.btn:hover
{
background-color: #fff;
color:#c32865;
}
.content
{
width: 1200px;
height: 100vh;
margin: auto;
}
.content h4
{
color: #c32865;
letter-spacing: 2px;
font-size: 20px;
padding-bottom: 20px;
}
.content h4:first-child
{
padding-top: 170px;
}
.content h1
{
font-size: 80px;
color: #fff;
}
.content .btn
{
margin-top: 50px;
}