
*
{
margin: 0;
padding: 0;
font-family: arial;
overflow: hidden;
}
a {
    color: inherit;
    text-decoration:none;
}
ul li a:hover
{
color: #c32865;
}
#two
{
width: 100%;
height: 100vh;
background-image: url(/gambar/bg2.png);
background-size: cover;
background-repeat: no-repeat;
text-align: center
}
.navbar
{

width: 1200px;
height: 80px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 28px 0px;
}
.navbar h2
{
color: #fff;
cursor: pointer;
font-family: arial;
font-weight: bold;
font-size: 24px;

}
.navbar ul
{
display: flex;
justify-content: center;
align-items: center;
}
.navbar ul li
{
list-style: none;
margin-right: 50px;
color: #fff;
font-weight: bold;
cursor: pointer;
transition: 0.5s;
}
h1
{
    color: #fff;
    cursor: pointer;
    font-family: arial;
    font-weight: bold;
    font-size: 60px;
    margin-top: 70px;
}
p{
    color: white;
    font-family: arial;
   
}
.name_email input{

    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
}

.contact_form_box .btn {
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 30px;
    display: inherit;
    background-color: #c32865;
    color: white;
}
.contact_form_box .btn:hover{
    background-color: #fff;;
    color: #c32865;
}
