*
{
margin: 0;
padding: 0;
font-family: arial;
overflow: hidden;
}
a {
    color: inherit;
    text-decoration:none;
}
ul li a:hover
{
color: #c32865;
}
#two
{
width: 100%;
height: 100vh;
background-image: url(/gambar/bg2.png);
background-size: cover;
background-repeat: no-repeat;
text-align: center
}
.navbar
{

width: 1200px;
height: 80px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 28px 0px;
}
.navbar h2
{
color: #fff;
cursor: pointer;
font-family: arial;
font-weight: bold;
font-size: 24px;

}
.navbar ul
{
display: flex;
justify-content: center;
align-items: center;
}
.navbar ul li
{
list-style: none;
margin-right: 50px;
color: #fff;
font-weight: bold;
cursor: pointer;
transition: 0.5s;
}

  .content {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    line-height: 1.6;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;

  }
  
  .poppins-font {
    font-family: 'Poppins', sans-serif;
  }
  
  .open-sans-font {
    font-family: 'Open Sans', sans-serif;
  }
  
  .ft-wt-600 {
    font-weight: 600;
  }
  
  .mb-30 {
    margin-bottom: 30px;
  }

.row h1{
    color: #fff;
    cursor: pointer;
    font-family: arial;
    font-weight: bold;
    font-size: 60px;
    margin-top: 70px;
    margin-bottom: 40px;
}
.icon{
    font-size: 50px;
}
.resume-box1{
margin-left: 50px;
}