
*
{
margin: 0;
padding: 0;
font-family: arial;
overflow: hidden;
}
a {
    color: inherit;
    text-decoration:none;
}
ul li a:hover
{
color: #c32865;
}
#two
{
width: 100%;
height: 100vh;
background-image: url(/gambar/bg2.png);
background-size: cover;
background-repeat: no-repeat;
text-align: center
}
.navbar
{

width: 1200px;
height: 80px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 28px 0px;
}
.navbar h2
{
color: #fff;
cursor: pointer;
font-family: arial;
font-weight: bold;
font-size: 24px;

}
.navbar ul
{
display: flex;
justify-content: center;
align-items: center;
}
.navbar ul li
{
list-style: none;
margin-right: 50px;
color: #fff;
font-weight: bold;
cursor: pointer;
transition: 0.5s;
}
h1
{
    color: #fff;
    cursor: pointer;
    font-family: arial;
    font-weight: bold;
    font-size: 60px;
    margin-top: 70px;
}
p{
    color: white;
    font-family: arial;
   
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.wrapper{
    font-family: 'Poppins', sans-serif;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-between;
  position: absolute;

  left: 28%;
}
.wrapper .card{
  background:none;
  width: calc(33% - 20px);
  height: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  outline: none;
  border: none;
}
.wrapper .card .circle{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: default;
}
.card .circle .box,
.card .circle .box span{
  position: absolute;
  top: 50%;
  left: 50%;
}
.card .circle .box{
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.2s;
}
.card .circle:hover .box{
  transform: translate(-50%, -50%) scale(0.91);
}
.card .circle .box span,
.wrapper .card .text{
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.circle .box span{
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 600;
  transform: translate(-45%, -45%);
  transition: all 0.1s;
}
.card .circle:hover .box span{
  transform: translate(-45%, -45%) scale(1.09);
}
.card .text{
  font-size: 20px;
  font-weight: 600;
}
@media(max-width: 753px){
  .wrapper{
    max-width: 700px;
  }
  .wrapper .card{
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }
}
@media(max-width: 505px){
  .wrapper{
    max-width: 500px;
  }
  .wrapper .card{
    width: 100%;
  }
}